body{
    width: auto;
    height: auto;
    background-color: #b4daa7;
}
p {
    text-align: center;
    font-family: "Allura";
    color: #4a785e;
    font-size: 370%;
    font-weight: bold;
}
.Main-pro {
    display: flex;
    place-content: center;
    justify-content: space-between;
}
#proj {
    padding: 1%;
    border: 2px solid #4a785e;
    background-color: #4a785e;
    border-radius: 1rem;
    width: 28%;
    height: auto;
    margin-bottom: 2%;
}
#proj:hover {
    border: 15px double #f6f4c3;
    background-color: #b4daa7;
}
#proj img {
    width: 100%;
    height: auto;
    border-radius: 0.3rem;
}
a{
    color: #4a785e;
    text-decoration: none;
}