<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="Full-header">
    <p id="Logo-head">svj</p>
    <div class="menu-h">
      <a (click)="scrollToSection('home')">Home</a>
      <a (click)="scrollToSection('skills')">Skills</a>
      <a (click)="scrollToSection('certifications')">Certifications</a>
      <a (click)="scrollToSection('projects')">Projects</a>
      <a (click)="scrollToSection('experience')">Experience</a>
    </div>
  </div>
</body>