.Header-F{
    background-color: rgb(30, 30, 30);
    position:fixed;
    display: flex;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    padding-left:0.5rem;
    justify-content: space-between;
    z-index: 5;
}
#Logo img{
    padding-left: 0.5rem;
    padding-top: 0.3rem;
    width:25%;
}
.menu{
    margin-left: 10%;
    padding-top: 1.5rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    display: flex;
    gap: 20px;
}
.menu p{
    color: #FFF;
    font-family: 'Courier';
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    font-size: 110%;
}
#home.active, #shills.active, #certification.active, #projects.active, #contacts.active, #resume.active{
    color:#bdafe0;
}