<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Allura&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <div class="Full-header">
    <div id="Logo-head">
      <a routerLink="/home" routerLinkActive="active">
        <p>svj</p>
      </a>
    </div>
    <div class="menu-h">
      <p>
        <a routerLink="/home" routerLinkActive="active" id="home">Home</a>
      </p>
      <p>
        <a routerLink="/skills" routerLinkActive="active" id="skills">Skills</a>
      </p>
      <p>
        <a
          routerLink="/certification"
          routerLinkActive="active"
          id="certifications"
          >Certifications</a
        >
      </p>
      <p>
        <a routerLink="/projects" routerLinkActive="active" id="projects"
          >Projects</a
        >
      </p>
      <p>
        <a routerLink="/resume" routerLinkActive="active" id="resume"
          >Services</a
        >
      </p>
    </div>
  </div>
</body>
