.Header-F{
    background-color: rgb(30, 30, 30);
    position:fixed;
    display: flex;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    justify-content: space-between;
    z-index: 5;
}
#Logo-head img{
    padding-left: 0.3rem;
    padding-top: 0.3rem;
    width:25%;
}
.menu-h{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2%;
}
.menu-h p{
    color: #FFF;
    font-family: 'Courier';
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    font-size: 110%;
}
#home.active, #shills.active, #certification.active, #projects.active, #contacts.active, #resume.active{
    color:#bdafe0;
}