body{
    background-color: rgb(30, 30, 30);
    height: auto;
}
.Full-header{
    background-color: rgb(30, 30, 30);
    position:fixed;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    z-index: 100;
}
#Logo-head p{
    font-family: "Allura";
    font-size:300%;
}
.menu-h{
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 25px; 
}
.menu-h p{
    font-family: 'Courier';
    text-decoration: none;
    font-size: 110%;
}
.menu-h p:hover{
    background-color:#101113;
    border-radius: 1rem;
    border: 1px solid #fff;
    font-size: 115%;
}
a{  
    text-decoration: none;
    color:#bdafe0;
}