body{
    background-color: #F6f4c3;
}
.Full-header{
    background-color: #F6f4c3;
    position:fixed;
    display: flex;
    width:100vw;
    height: 7%;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}
#Logo-head{
    font-family: "Allura";
    font-size:300%;
}
.menu-h{
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 25px; 
}
.menu-h a{
    font-family: 'Courier';
    text-decoration: none;
    font-size: 110%;
    font-weight: bold;
}
.menu-h a:hover{
    border-radius: 1rem;
    border: 1px solid #4a785e;
    padding: 1%;
    background-color: #101113;
    font-size: 115%;
}
a{  
    color:#4a785e; 
}