<div class="certification-section">
  <h2 class="section-title">Certifications</h2>
  <div class="scroll-container">
    <img src="../../assets/certificate-aiml.jpg" alt="AI ML" />
    <img src="../../assets/Python_course_certificate_Jayasri.png" alt="Kaggle Python" />
    <img src="../../assets/Intro_to_Machine_Learning_Jayasri.png" alt="Intro to Machine Learning" />
    <img src="../../assets/Intermediate_Machine_Learning_Jayasri.png" alt="Intermediate Machine Learning" />
    <!-- <img src="../../assets/certificate-android.jpg" alt="Android" /> -->
    <img src="../../assets/certificate-database.jpg" alt="Database" />
    <!-- <img src="../../assets/certificate-css.jpg" alt="CSS" /> -->
    <img src="../../assets/certificate-django.jpg" alt="Django" />
    <!-- <img src="../../assets/certificate-html.jpg" alt="HTML" /> -->
    <img src="../../assets/certificate-firebase.jpg" alt="Firebase" />
    <!-- <img src="../../assets/certificate-js.jpg" alt="JS" /> -->
    <!-- <img src="../../assets/certificate-flutter.jpg" alt="Flutter" /> -->
    <img src="../../assets/certificate-java.jpg" alt="Java" />
  </div>
</div>