<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Allura&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <p>Certifications</p>
  <div class="scroll-container">
    <img src="../../assets/certificate-aiml.jpg" />
    <img src="../../assets/certificate-android.jpg" />
    <img src="../../assets/certificate-database.jpg" />
    <img src="../../assets/certificate-css.jpg" />
    <img src="../../assets/certificate-django.jpg" />
    <img src="../../assets/certificate-html.jpg" />
    <img src="../../assets/certificate-firebase.jpg" />
    <img src="../../assets/certificate-js.jpg" />
    <img src="../../assets/certificate-flutter.jpg" />
    <img src="../../assets/certificate-java.jpg" />
  </div>
</body>
