<body>
  <div class="logo-cert">
    <img src="../../assets/CERTIFICATIONS-Font.png" />
  </div>
  <div class="slideshow-container">
    <div class="certification-slideshow-container">
      <div class="mySlides fade">
        <img id="cert" src="../../assets/certificate-aiml.jpg" />
      </div>
      <div class="mySlides fade">
        <img id="cert" src="../../assets/certificate-android.jpg" />
      </div>
      <div class="mySlides fade">
        <img id="cert" src="../../assets/certificate-css.jpg" />
      </div>
      <div class="mySlides fade">
        <img id="cert" src="../../assets/certificate-database.jpg" />
      </div>
      <div class="mySlides fade">
        <img id="cert" src="../../assets/certificate-django.jpg" />
      </div>
      <div class="mySlides fade">
        <img id="cert" src="../../assets/certificate-firebase.jpg" />
      </div>
      <div class="mySlides fade">
        <img id="cert" src="../../assets/certificate-flutter.jpg" />
      </div>
      <div class="mySlides fade">
        <img id="cert" src="../../assets/certificate-html.jpg" />
      </div>
      <div class="mySlides fade">
        <img id="cert" src="../../assets/certificate-java.jpg" />
      </div>
      <div class="mySlides fade">
        <img id="cert" src="../../assets/certificate-js.jpg" />
      </div>
      <button class="prev" (click)="plusSlides(-1)">&#10094;</button>
      <button class="next" (click)="plusSlides(1)">&#10095;</button>
    </div>
    <div class="dot-main">
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>
</body>
<app-resume></app-resume>
