<body>
  <div id="image-pro">
    <img src="../../assets/PROJECTS-Font.png" />
  </div>
  <div class="Main-pro">
    <div id="proj">
      <a href="https://github.com/Jayasri2021/Biometric-login">
        <div id="desc">A protective login using Fingerprint Security!</div>
        <img src="../../assets/Biometric-proj.jpg" />
      </a>
    </div>
    <div id="proj">
      <a href="https://github.com/Jayasri2021/Machine-Learning">
        <div id="desc">4 main Machine Learning Algorithm using python!</div>
        <img src="../../assets/ml-proj.jpg" />
      </a>
    </div>
    <div id="proj">
      <a href="https://github.com/Jayasri2021/Data-Science">
        <div id="desc">Data Science and Analysis using Python!</div>
        <img src="../../assets/datascience-proj.jpg" />
      </a>
    </div>
  </div>
  <div class="Main-pro">
    <div id="proj">
      <a href="https://github.com/Jayasri2021/MP3-Player">
        <div id="desc">A MP3 Player project in Python using pygame!</div>
        <img src="../../assets/mp3-proj.jpg" />
      </a>
    </div>
    <div id="proj">
      <a href="https://github.com/Jayasri2021/Wikipedia-Article-Generator">
        <div id="desc">Article generation from wikipedia using Python!</div>
        <img src="../../assets/artivle-proj.png" />
      </a>
    </div>
    <div id="proj">
      <a href="https://github.com/Jayasri2021/Text-Based-Adventure">
        <div id="desc">Text based adventure using python!</div>
        <img src="../../assets/textbased-proj.png" />
      </a>
    </div>
  </div>
</body>
<app-contact></app-contact>
