<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Allura&display=swap"
  />
</head>
<body>
  <div class="main">
    <div id="col1">
      <p>Contact Me</p>
    </div>
    <div id="col2">
      <p>
        <a href="tel:+918667236561"
          ><img src="../../assets/phone-bold.svg" />+91 8667236561</a
        >
      </p>
      <p>
        <a href="mailto:jayasri030520@gmail.com"
          ><img src="../../assets/email-solid.svg" />jayasri030520@gmail.com</a
        >
      </p>
    </div>
    <div id="col3">
      <p>
        <a href="https://www.instagram.com/jayasri_030520/#">
          <img src="../../assets/instagram.svg" />jayasri030520</a
        >
      </p>
      <p>
        <a href="www.linkedin.com/in/jayasri-s-v-283b97213">
          <img src="../../assets/linkedin.svg" />
          Jayasri S V</a
        >
      </p>
      <p>
        <a href="https://github.com/Jayasri2021">
          <img src="../../assets/github.svg" />
          Jayasri2021</a
        >
      </p>
    </div>
  </div>

  <div id="copy">Copyright © 2023 SVJ. All Rights Reserved.</div>
</body>
