<div class="main">
  <div class="slideshow-container">
    <div class="mySlides fade">
      <div class="numbertext">1 / 10</div>
      <img src="../../assets/certificate-aiml.jpg" style="width: 100%" />
      <div class="text">Caption One</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">2 / 10</div>
      <img src="../../assets/certificate-android.jpg" style="width: 100%" />
      <div class="text">Caption Two</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">3 / 10</div>
      <img src="../../assets/certificate-css.jpg" style="width: 100%" />
      <div class="text">Caption Three</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">4 / 10</div>
      <img src="../../assets/certificate-database.jpg" style="width: 100%" />
      <div class="text">Caption Four</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">5 / 10</div>
      <img src="../../assets/certificate-django.jpg" style="width: 100%" />
      <div class="text">Caption 5</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">6 / 10</div>
      <img src="../../assets/certificate-firebase.jpg" style="width: 100%" />
      <div class="text">Caption 6</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">7 / 10</div>
      <img src="../../assets/certificate-flutter.jpg" style="width: 100%" />
      <div class="text">Caption 7</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">8 / 10</div>
      <img src="../../assets/certificate-html.jpg" style="width: 100%" />
      <div class="text">Caption 8</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">9 / 10</div>
      <img src="../../assets/certificate-java.jpg" style="width: 100%" />
      <div class="text">Caption 9</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">10 / 10</div>
      <img src="../../assets/certificate-js.jpg" style="width: 100%" />
      <div class="text">Caption 10</div>
    </div>
  </div>
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>
</div>
<br />
<div style="text-align: center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span>
  <span class="dot" onclick="currentSlide(8)"></span>
  <span class="dot" onclick="currentSlide(9)"></span>
  <span class="dot" onclick="currentSlide(10)"></span>
</div>
<app-resume></app-resume>
