body{
    background-color: #F6f4c3;
    width: auto;
    height: auto;
}
.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
#col1 p {
    text-align: center;
    font-family: "Allura";
    color: #4a785e;
    font-size: 370%;
    font-weight: bold;
}
img{
    width: 15%;
    height:auto; 
}
#col2 p, #col3 p{
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: left;
    gap:5%; 
}
#col2 a, #col3 a{
    text-decoration: none;
    color:#4a785e;
    font-weight:bold;
}
#copy{
    background-color: #F6f4c3;
    color:#4a785e;
    text-align: center;
}