body{
    background-color: #b4daa7;
    height: auto;
    width: auto;
}
.work-logo p{
    text-align: center;
    font-family: "Allura";
    color: #4a785e;
    font-size: 370%;
    font-weight: bold;
}
.main-w{
    display: flex;
    gap: 15%;
    padding: 3%;
}
.main-w img{
    width: 25%;
    height:auto;
}
.main-w p{
    color: #4a785e;
    font-size: 115%;
    font-style: italic;
    text-align:justify;
}