<div class="Logo-skills">
  <img src="../../assets/SKILLS-Font.png" />
</div>
<div class="main">
  <div class="card1">
    <div class="card-inner">
      <div id="card-front">
        <h3>FRONTEND</h2>
        <img src="../../assets/Frontend-logo.png" />
      </div>
      <div id="card-back">
        <div id="align-text">
          <img src="../../assets/html-logo.svg" />
          <img src="../../assets/css-logo.svg" />
          <img src="../../assets/js-logo.svg" />
        </div>
      </div>
    </div>
  </div>
  <div class="card2">
    <div class="card-inner">
      <div id="card-front">
        <h2>DATABASE</h2>
        <img src="../../assets/Database-logo.png" />
      </div>
      <div id="card-back">
        <div id="align-text">
          <img src="../../assets/mysql-logo.svg" />
          <img src="../../assets/sqlite-logo.svg" />
          <img src="../../assets/mongodb-logo.svg" />
          <img src="../../assets/fb-logo.svg" />
        </div>
      </div>
    </div>
  </div>
  <div class="card3">
    <div class="card-inner">
      <div id="card-front">
        <h2>BACKEND</h2>
        <img src="../../assets/Backend-logo.png" />
      </div>
      <div id="card-back">
        <div id="align-text">
          <img src="../../assets/c-logo.svg" />
          <img src="../../assets/cpp-logo.svg" />
          <img src="../../assets/python-logo.svg" />
          <img src="../../assets/java-logo.svg" />
          <img src="../../assets/r-logo.svg" />
        </div>
      </div>
    </div>
  </div>
  <div class="card4">
    <div class="card-inner">
      <div id="card-front">
        <h2>OTHERS</h2>
        <img src="../../assets/Others-logo.png" />
      </div>
      <div id="card-back">
        <div id="align-text">
          <img src="../../assets/django-logo.svg" />
          <img src="../../assets/angular-logo.svg" />
          <img src="../../assets/flutter-logo.svg" />
          <img src="../../assets/androidstudio-logo.svg" />
        </div>
      </div>
    </div>
  </div>
  <div class="card4">
    <div class="card-inner">
      <div id="card-front">
        <h2>OTHERS</h2>
        <img src="../../assets/Others-logo.png" />
      </div>
      <div id="card-back">
        <div id="align-text">
          <img src="../../assets/django-logo.svg" />
          <img src="../../assets/angular-logo.svg" />
          <img src="../../assets/flutter-logo.svg" />
          <img src="../../assets/androidstudio-logo.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
<app-certification></app-certification>>
