<body>
  <div class="Logo-skills">
    <img src="../../assets/SKILLS-Font.png" />
  </div>
  <div class="main-skills">
    <div class="card">
      <div class="card-inner">
        <div id="card-front">
          <h4>FRONTEND</h4>
          <img src="../../assets/Frontend-logo.png" />
        </div>
        <div id="card-back">
          <div id="align-text">
            <img src="../../assets/html-logo.svg" />
            <img src="../../assets/css-logo.svg" />
            <img src="../../assets/js-logo.svg" />
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-inner">
        <div id="card-front">
          <h4>DATABASE</h4>
          <img src="../../assets/Database-logo.png" />
        </div>
        <div id="card-back">
          <div id="align-text">
            <img src="../../assets/mysql-logo.svg" />
            <img src="../../assets/sqlite-logo.svg" />
            <img src="../../assets/mongodb-logo.svg" />
            <img src="../../assets/fb-logo.svg" />
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-inner">
        <div id="card-front">
          <h4>BACKEND</h4>
          <img src="../../assets/Backend-logo.png" />
        </div>
        <div id="card-back">
          <div id="align-text">
            <img src="../../assets/c-logo.svg" />
            <img src="../../assets/cpp-logo.svg" />
            <img src="../../assets/python-logo.svg" />
            <img src="../../assets/java-logo.svg" />
            <img src="../../assets/r-logo.svg" />
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-inner">
        <div id="card-front">
          <h4>FRAMEWORK</h4>
          <img src="../../assets/framework-logo.svg" />
        </div>
        <div id="card-back">
          <div id="align-text">
            <img src="../../assets/django-logo.svg" />
            <img id="ang" src="../../assets/angular-logo.svg" />
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-inner">
        <div id="card-front">
          <h4>MOBILE APPLICATION</h4>
          <img src="../../assets/mobile-logo.svg" />
        </div>
        <div id="card-back">
          <div id="align-text">
            <img src="../../assets/flutter-logo.svg" />
            <img src="../../assets/androidstudio-logo.svg" />
            <img src="../../assets/figma-logo.svg" />
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-inner">
        <div id="card-front">
          <h4>Tools</h4>
          <img src="../../assets/Others-logo.png" />
        </div>
        <div id="card-back">
          <div id="align-text">
            <img src="../../assets/anaconda-logo.svg" />
            <img id="ang" src="../../assets/colab-logo.svg" />
            <img src="../../assets/eclipse-logo.svg" />
            <img src="../../assets/jupyter-logo.svg" />
            <img src="../../assets/pycharm-logo.svg" />
            <img src="../../assets/vs-logo.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<app-certification></app-certification>
