* {
    margin: 0;
    padding: 0;


}

/* @-ms-viewport {
    width: device-width;
}  */

/* html, */
body {
    /* height: 1000vh; */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #b4daa7;
}