<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Allura&display=swap"
    rel="stylesheet"
  />
</head>
<app-header></app-header>
<body>
  <div class="main-home">
    <div id="main1-home">
      <div id="Image-home">
        <img src="../../assets/Sample-Profile1.png" />
      </div>
      <div class="main-res">
        <button (click)="viewResume()">View Full Resume! (PDF)</button>
      </div>
    </div>
    <div class="main2-home">
      <div id="heythere">Hey There,</div>
      <div id="Jayasri">I'M <span id="color-home">JAYASRI</span></div>
      <div id="Developer">A <span id="color-home">DEVELOPER</span></div>
      <div>
        I am dedicated to the ceaseless pursuit of unraveling life's intricate
        puzzles. My approach is a fusion of intelligence and diligent effort,
        encapsulating qualities of being both organized and imaginative. I
        thrive on continuous learning, honing my skills and uncovering latent
        talents. My adaptability knows no bounds, effortlessly acclimating to
        fresh environments and emerging technologies.
      </div>
    </div>
  </div>
</body>
<app-skills></app-skills>
<app-certification></app-certification>
<app-projects></app-projects>
<app-resume></app-resume>
<app-contact></app-contact>
