<app-header></app-header>

<section id="home" class="hero">
  <div class="hero__container">
    <!-- Left: Text -->
    <div class="hero__content">
      <p class="hero__badge">Software Engineer | Applied AI/ML | Data Engineering</p>

      <h1 class="hero__title">
        Jayasri <span class="hero__titleAccent">Suresh Vani</span>
      </h1>

      <p class="hero__subtitle">
        Purdue MS in Computer Science
      </p>
      <!-- <p class="hero__subtitle" style="font-size: 16px;">

      </p> -->

      <p class="hero__desc" id="para">
        I build production-ready AI and scalable software platforms, combining backend engineering with applied AI/ML research. My work spans NLP, data pipelines, RAG systems, and full-stack development. Recently, I worked on LLM-driven evaluation workflows for healthcare AI systems, optimizing model interpretability and reliability. I'm actively seeking roles in Data Engineering, Applied AI/ML, Software Engineering, or GenAI.
      </p>

      <div class="hero__actions">
        <button class="btn btn--primary" (click)="viewResume1()">Software Engineer Resume</button>
        <button class="btn btn--primary" (click)="viewResume2()">AI/ML Engineer Resume</button>
        <button class="btn btn--primary" (click)="viewLinkedIn()">View LinkedIn Profile</button>
      </div>

      <div class="hero__stack">
        <span class="pill">Python </span>
        <span class="pill">SQL</span>
        <span class="pill">RAG</span>
        <span class="pill">LangChain</span>
        <span class="pill">Machine Learning</span>        
        <span class="pill">FastAPI</span>
        <span class="pill">GCP</span>
        <span class="pill">ETL</span>
      </div>
    </div>

    <div class="hero__media">
      <div class="avatar" #avatar oncontextmenu="return false;">
        <img src="../../assets/profile-pic.jpeg" alt="Profile" draggable="false" />
      </div>
    </div>
  </div>
</section>
<app-journey id="journey"></app-journey>
<app-projects id="projects"></app-projects>
<app-skills id="skills"></app-skills>
<app-resume id="experience"></app-resume>
<app-certification id="certifications"></app-certification>
<app-contact id="contact"></app-contact>
