body {
    background-color: #b4daa7;
    height: auto;
}
.main-home {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    padding-bottom: 1%;
}

#Image-home img {
    height: 40%;
    width: 40%;
    margin-left: 20%;
    margin-top: 23%;
}

.main2-home {
    color: black;
    font-family: "fantasy";
    font-style: italic;
    font-size: 120%;
    text-align: right;
    padding-top: 20%;
    width: auto;
    margin-right: 15%;
}

#Jayasri,
#Developer {
    font-family: "Allura";
    font-size: 270%;
    color: #4a785e;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 30px #b4daa7, 0 0 10px #4a785e;
}

#color-home {
    color: #4a785e;
}
.main-res{
    font-size:120%;
    text-align: center;
    font-family: 'Times new roman';
    width: auto;
    height:auto;
   
}
.main-res button{
    margin-top: 5rem;
    background: none;
    border-radius: 1rem;
    border: 2px solid #F6f4c3;
    color:#F6f4c3;
    padding: 0.5rem;
}
.main-res button:hover{
  border:2px solid #4a785e;
  color:#4a785e;
  animation: bounce 2s infinite linear;
  transition: all 0.2s;
}
@keyframes bounce {
    0% {
      top: 0em;
    }
    40% {
      top: 0em;
    }
    43% {
      top: -1em;
    }
    46% {
      top: 0em;
    }
    48% {
      top: -0.5em;
    }
    50% {
      top: 0em;
    }
    100% {
      top: 0em;
    }
  }