body {
    background-color: #b4daa7;
    height: auto;
    width: 100vw;
    padding-bottom: 2%;
}
.main-home {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
#Image-home img {
    height: 40%;
    width: 37.5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 14.5%;
}
.main2-home {
    color: rgb(5, 32, 25);
    font-family: 'Courier';
    font-style: italic;
    font-weight: bold;
    font-size: 120%;
    text-align: right;
    padding-top: 14%;
    width: auto;
    margin-right: 15%;
}
#Jayasri,
#Developer {
    font-family: "Allura";
    font-size: 270%;
    color: #4a785e;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 30px #66895c, 0 0 10px #4a785e;
}
#color-home {
    color: #4a785e;
}
#main-res{
    text-align: center;
    font-family: 'Courier';
    width: auto;
    height:auto;  
}
#main-res button
{
    margin-top: 5%;
    background: none;
    border: 3px solid #F6f4c3;
    color:#4a785e;
    font-size: 120%;
    font-weight: bold;
    padding: 0.5rem;    
}
#main-res button:hover{
  border:10px double #4a785e;
  color:#F6f4c3;
}
#main-res img{
    width: 10%;
}