<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet" />
</head>
<app-header></app-header>

<body>
  <div id="home">
    <div class="main-home">
      <div id="main1-home">
        <div id="Image-home">
          <img src="../../assets/Sample-Profile1.png" />
        </div>
        <div id="main-res">
          <button (click)="viewResume()">View Full Resume!</button>
        </div>
      </div>
      <div class="main2-home">
        <p id="Jayasri">I'm Jayasri</p>
        <p id="Jayasri">A Developer</p>
        <p id="para">
          I am dedicated to the ceaseless pursuit of unraveling life's intricate
          puzzles. My approach is a fusion of intelligence and diligent effort,
          encapsulating qualities of being both organized and imaginative. I
          thrive on continuous learning, honing my skills and uncovering latent
          talents. My adaptability knows no bounds, effortlessly acclimating to
          fresh environments and emerging technologies.
        </p>
      </div>
    </div>
  </div>

  <div id="skills">
    <app-skills></app-skills>
  </div>
  <div id="certifications">
    <app-certification></app-certification>
  </div>
  <div id="projects">
    <app-projects></app-projects>
  </div>
  <div id="experience">
    <app-resume></app-resume>
  </div>
  <app-contact></app-contact>

</body>