body {
    background-color: #b4daa7;
    height: auto;
    width: 100vw;
    position: relative;
}

.parent {
    width: 100%;
}

.main-home {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    align-items: center;
    justify-content: center;
}

#Image-home img {
    height: 40%;
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 17%;
}

.main2-home {
    font-family: 'Courier';
    font-size: 125%;
    text-align: justify;
    padding-top: 15%;
    width: fit-content;
    padding-right: 15%;
    font-weight: bold;
    /* text-align: center; */
}


#Jayasri {
    color: rgb(13, 53, 42);
    font-style: italic;
    font-weight: bold;
    font-family: "Allura";
    text-align: center;
    font-size: 250%;
    color: #4a785e;
    text-shadow: 0px 1px 2px rgb(255, 255, 255), 0 0 30px #5bab45, 0 0 10px #4a785e;
}

#main-res {
    text-align: center;
    font-family: 'Courier';
    width: auto;
    height: auto;
}

#main-res button {
    margin-top: 6%;
    background: none;
    border: 3px solid #F6f4c3;
    border-radius: 0.6rem;
    color: #4a785e;
    font-size: 120%;
    font-weight: bold;
    padding: 0.5rem;
    box-shadow: 0px 1px 2px rgb(255, 255, 255), 0 0 30px #5bab45, 0 0 10px #4a785e;
}

#main-res button:hover {
    border: 10px double #4a785e;
    color: #F6f4c3;
}


@media only screen and (max-width: 1000px) {

    .main2-home {
        text-align: center;
        padding-right: 0%;
    }

    #Jayasri {
        text-align: center;
    }
}

@media only screen and (max-width: 545px) {
    .main2-home {
        padding: 20px;
    }
}

@media only screen and (max-width: 350px) {
    #main-res button {
        /* width: 14rem; */
        height: auto;
        font-size: 100%;
        font-weight: bold;
    }

    #Jayasri {
        font-size: 200%;

    }

    #para {
        font-size: 17px;
        padding-left: 90px;
        font-weight: bold;
        padding-right: 15%;
    }
}

@media only screen and (max-width: 320px) {
    #main-res button {
        height: auto;
        font-size: 100%;
        font-weight: bold;
    }

    #Jayasri {
        font-size: 200%;

    }

    #para {
        font-size: 17px;
        padding-left: 15%;
        padding-right: 15%;
        font-weight: bold;
    }
}